:root {
    --primary-color: #7FA1C3;
    --secondary-color: #E2DAD6;
    --text-color: #121417;
    --text-secondary: #637387;
    --white: #FFFFFF;
    --gray: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    display: flex;
    flex-direction: column;

}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

#hero {
    /* background-image: url('path-to-hero-image.jpg'); */
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
    color: var(--white);
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#hero div {
    margin-top: 10%;
}

#hero button {
    background-color: var(--white);
    color: var(--text-secondary);
    border: none;
    margin-top: 30px;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 40px;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 40px;

}

button:hover {
    background-color: #3A80D2;
}

#online-services {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

#online-services button{
    margin-top: 20px;
}

#additional-services {
    justify-self: center;
    height: 200px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 100%;
    gap: 1rem;
    width: 100%;
    margin-bottom: 40px;
}

.service-grid {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 100%;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 70px;
}

.service-item {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 1rem;
}

.service-item p {
    text-align: start;
    color: var(--text-secondary);
}

#contact {
    background-color: var(--secondary-color);
    padding: 4rem 0;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem 0;
    text-align: center;
}

.social-links a {
    color: var(--white);
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.legal a {
    color: var(--white);
    margin: 0 1rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    #hero {
        height: 300px;
    }
}